@font-face {
    font-family: 'si';
    src: url('PATH_TO/socicon.eot');
    src: url('PATH_TO/socicon.eot?#iefix') format('embedded-opentype'),
         url('PATH_TO/socicon.woff') format('woff'),
         url('PATH_TO/socicon.ttf') format('truetype'),
         url('PATH_TO/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html, body {
	background: #000000;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-weight: 300;
	font-size: 14px;
}

a {
	cursor: pointer;
}

#background {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	transition: background-image 1s linear;
	-webkit-transition: background-image 1s linear;
	cursor: pointer;
}

header {
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 3;
}

#logo {
	font-size: 72px;
	line-height: 72px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}

.cavsoc-heading {
	font-weight: 300;
	text-transform: uppercase;
}

.cavsoc-heading em.our:after {
	content: "";
	display: inline-block;
	margin: 0 0.5em 0 -3em;
	height: 0.14em;
	width: 2.5em;
	background: #FFFFFF;
	vertical-align: 0.25em;
}

h2 {
	font-size: 48px;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #DDDDDD;
}


[data-page].content-page {
	margin-top: 130px;
}

.email a {
	margin-left: 30px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
}

.email a:hover {
	text-decoration: underline;
}

#nav-left, #nav-right {
	position: fixed;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	transition: background-color 0.2s linear;
	-webkit-transition: background-color 0.2s linear;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font-size: 42px;
}

#nav-left:hover, #nav-right:hover {
	background: rgba(0, 0, 0, 0.4);
}

#nav-left img, #nav-right img {
	height: 30px;
}

#nav-left {
	left: 0px;
}

#nav-right {
	right: 0px;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	height: 70px;
	padding-left: 30px;
	display: flex;
	align-items: center;

	background-color: black;
	z-index: 3;
	align-items: 
}

footer #copyright {
	width: 130px;
	white-space: nowrap;
}

footer .burger-menu-icon {
	display: none;
	margin-right: 20px;
}

nav {
	margin: 10px auto;
	text-align: right;
	width: 100vw;
	bottom: 0px;
	flex-grow: 1;
}

nav a {
	display: inline-block;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 30px;
	transition: all 0.2s linear;
	background: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
}

em {
	font-style: normal;
	font-weight: 700;
}

.burger-menu-icon {
	display: inline-block;
	width: 45px;
	height: 28px;
}

.burger-menu-icon > div {
	background: #FFFFFF;
	height: 4px;
	margin-bottom: 8px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.social-links {
	position: fixed;
	top: 15px;
	right: 15px;
	display: flex;
	flex-direction: column;
	z-index: 3;
}
.social-link {
	display: block;
	line-height: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
	transition: background 0.2s linear;
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
}
.social-link:hover {
	background: rgba(0, 0, 0, 0.25);
}

.team-members {
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-bottom: 100px;
}

.team-members a {
	display: inline-block;
	color: #FFFFFF;
	transition: all 0.1s linear;
	text-decoration: none;
}

.team-members a:hover {
	transform: translateX(4px);
}

[data-page] {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: calc(100vh - 70px);
	overflow-y: auto;
}

[data-page].active {
	display: block;
}

.page-content {
	padding: 0px 100px 0px 50px;
	overflow-x: hidden;
	width: 100%;
	max-width: 1500px;
	margin: 0px auto 140px;
}

.team-member {
	display: flex;
	font-size: 16px;
	margin-bottom: 100px;
}

.team-member .picture img {
	width: 150px;
	margin-right: 50px;
}

.team-member .info {
	flex-grow: 1;
}

.team-member .info .name {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	width: 50%;
}

.team-member hr {
	width: 50%;
	border: none;
	border-bottom: 1px solid #522324;
	margin: 3px 0px;
}

.team-member .info .role {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 14px;
}

.team-member .info p {
	text-align: justify;
	color: #BBB;
}

[data-page].page-enter {
	display: block;
	opacity: 1;
	animation: 0.5s page-transition linear reverse;
}

[data-page].page-exit {
	display: block;
	opacity: 0;
	animation: 0.5s page-transition linear;
}

#burger-menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 4;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	transition: opacity 0.25s linear;
}

#burger-menu.open {
	opacity: 1;
	pointer-events: auto;
}

#burger-menu h3 {
	font-weight: 300;
	font-size: 32px;
	margin: 0px 0px 20px;
}

#burger-menu .menu {
	position: fixed;
	width: 280px;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: #111111;
	z-index: 5;
	padding: 20px;
	text-align: center;
	transform: translateX(-320px);
	transition: all 0.25s linear;
	cursor: auto;
}

#burger-menu.open .menu {
	transform: translateX(0px);
}

#burger-menu a.nav-link {
	letter-spacing: 0.5rem;
	padding: 20px 30px;
	display: inline-block;
	text-transform: uppercase;
}

#burger-menu .menu-social-links {
	position: absolute;
	bottom: 0px;
	width: 260px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#burger-menu .social-link {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 24px;
}

.work {
	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}

.work-tile {
	width: 32%;
	overflow: hidden;
	margin-right: 2%;
	position: relative;
	cursor: pointer;
}

.work-tile .work-image {
	background-size: cover;
	width: 100%;
	padding-top: 100%;
	transition: transform 0.3s linear;
}

.work-tile:hover .work-image {
	transform: scale(1.1);
}

.work-tile h3 {
	margin: 0px;
	font-size: 30px;
	text-transform: uppercase;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.project {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
}

.project .project-image-main {
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
}

.project-section {
	clear: both;
}

.project .project-image {
	max-width: 49.5%;
	float: right;
	clear: both;
	margin: 0px 0px 10px 10px;
}

.project-section:nth-child(2n + 1) .project-image {
	float: left;
	margin: 0px 10px 10px 0px;
}

@keyframes page-transition {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@media screen and (max-width: 1100px) {
	.cavsoc-heading {
		margin: 10px 0px;
	}
	.team-members {
		margin-bottom: 25px;
	}
	.team-member {
		flex-direction: column;
		margin-bottom: 20px;
	}
	.team-member .picture img {
		width: 65px;
	}
}

@media screen and (min-width: 2000px) {
	.page-content {
		padding: 100px 100px 20px 100px;
		margin: 0px auto;
	}
}

@media screen and (max-width: 800px) {
	nav em {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.page-content {
		padding: 0px 20px;
	}
	#logo {
		font-size: 60px;
	}
	header {
		text-align: center;
		top: 0px;
		left: 0px;
		width: 100vw;
		padding: 10px 10px 30px;
		background: rgba(0, 0, 0, 0.25);
		/* CSS Gradient */
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
	}
	.social-links, nav a {
		display: none;
	}
	footer nav {
		width: 50vw;
	}
	nav .burger-menu-icon {
		display: inline-block;
	}
}
